{% extends 'base.html' %}

{% block title %}

Избранное

{% endblock %}

{% block content %}

<div class="mx-auto my-2 my-sm-3 my-lg-3 p-5">
    {% for component in favorites %}
    <div class="card" style="display: inline-block;  width: 310px; margin: 10px;">
        <img src="{{ component.image.url }}" class="card-img-top" style="width: 300px; height: 300px" alt="Упс..." alt="Упс...">
        <div class="card-body">
            <h5 class="card-title" style="display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;"> {{ component.name }}</h5>
            <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;">{{ component.description }}</p>
            <h5 class="card-text">{{ component.price }} ₽</h5>
            <a href="{% url 'component_details' component.id %}" class="btn btn-dark rounded-pill px-3">Подробнее🔎</a>
            {% if user.is_authenticated %}
            <div class="mt-1">{% include 'cart/add-cart.html' with type='component' id=component.id %}</div>
            {% endif %}
            <div>{% include 'favorites/remove-favorite.html' with type='component' id=component.id %}</div>
        </div>
    </div>
    {% endfor %}



{% endblock %}