{% extends "base.html" %}

{% block title %}

Оплата

{% endblock%}

{% block content %}
  <h1 class="d-flex align-items-center justify-content-center">Оплата</h1>
  <div class="d-flex align-items-center justify-content-center">
      <div class="card dark my-lg-5 p-3" >
      <form class="col-md-8 offset-md-2" method="post" action="{% url 'buy' %}">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" class="btn btn-warning  rounded-pill px-3"></input>
      </form>
      </div>
  </div>
{% endblock %}